<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div class="panel profile">
  <div class="panel-body row">
    <div class="col-md-4 col-xs-4">
      <% if @user.avatar.present? %>
        <%= image_tag @user.avatar.url, class:"profile_img" %>
      <% end %>
    </div>
    <div class="col-md-8 col-xs-8">
      <h2><%= @user.name %></h2>
      <b>Gender:</b> <%= @user.gender %><br>
      <b>Location:</b> <%= @user.location %><br>
      <b>Biography:</b> <%= @user.description %><br>
      <% if @user.id == current_user.id %>
        <%= link_to 'Edit your profile', edit_user_registration_path(current_user) %>
      <% else %>
        <!-- Follow -->
        <% followed = @user.followers.include? current_user %>

        <% if followed %>
          <%= link_to unfollow_user_path( @user ), method: :post, class: "btn btn-success btn-xs" do %>
            Unfollow
          <% end %>
        <% else %>
          <%= link_to follow_user_path( @user ), method: :post, class: "btn btn-default btn-xs" do %>
            Follow
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- POSTS -->
  <div class="posts">
    <%= render @user.posts %>
  </div>

</div>
