<div class="thumbnail">
  <div class="media">
    <div class="media-left">
      <%= image_tag post.user.avatar.url, class: "avatar-feed" %>
    </div>
    <div class="media-body">
      <%= post.user.name %><br>
    </div>
  </div>
  <h3><%= link_to post.title, post %></h3>
  <%= image_tag post.image.url, class: "img-feed" %>
  <p>
    <%= "#{post.likes.count} Like(s)" %>
  </p>

  <!-- likes -->
  <% liked = Like.find_by( post: post, user: current_user ) != nil %>
  <% btn_color = liked ? "danger" : "default" %>
  <% action = liked ? :destroy : :create %>

  <%= link_to post_likes_path( post ), method: :post, class: "btn btn-#{btn_color} btn-xs" do %>
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Like
  <% end %>

  <% if user_signed_in? %>
    <%= link_to "Follow", follow_user_path( post.user ), method: :post, class: "btn btn-#{btn_color} btn-xs" %>
  <% end %>

  <!-- comments -->
  <% post.comments.each do |c| %>
    <p>
      <%= c.user.name %>
    </p>
    <p>
      <%= c.comment %>
    </p>
  <% end %>
</div>
