<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand" do %>
        We <span class="love"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></span> food
      <% end %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if !user_signed_in? %>
          <li><%= link_to "Log In", new_user_session_path %></li>
      <% else %>
          <li><%= link_to "Add Post", new_post_path %></li>
          <li>
            <%= link_to profile_path(id: current_user.id) , class: "nav-profile" do  %>
              <%= image_tag current_user.avatar.url, class: "avatar-feed" %>
              Profile
            <% end %>
          </li>
          <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
    <% end %>
    </ul>
  </div>
</nav>
